@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,400,700);

body{
	margin: 0px 0px;
	padding: 0px 0px;
	font-family: 'Source Sans Pro', sans-serif;
	text-rendering: optimizeLegibility;
	color: #4b4c4c;
}

.global-bg-01{
	background: url(../images/01.png) fixed;
}
.global-bg-02{
	background: url(../images/02.png) fixed;
}
.global-bg-03{
	background: url(../images/03.png) fixed;
}




h1, h2, h3{
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

h2 {
	color: #dc8c01;
	text-shadow: -1px -1px 0px rgba(0,0,0,0.7);
	font-size: 64px;
	text-transform: uppercase;
	display: block;
	line-height: 56px;
}
h3{
	color: #513204;
	font-size: 24px;
	line-height: 24px;
/* 	text-shadow: -0px -0px 0px rgba(54,35,4,0.78); */
	
}
.citation{
	color: #333333;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
}
.auteur{
	font-size: 14px;
}


.orange{
	color: #dc8c01;
}

a{
	color: #dc8c01;
	text-decoration: none;
}

a:hover{
	color: white;
}

.fontweight-200{
	font-weight: 200;
}

.fontweight-400{
	font-weight: 400;
}
.fontweight-600{
	font-weight: 600;
}
.fontweight-700{
	font-weight: 700;
}
/**/
.clearfix {
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clear {
    clear: both;
    height: 0;
}

.text-center{
	text-align: center;
}


#wrap{
	width:940px;
	height:100%;
	margin: 0px auto;
}



header{
	float: left;
	clear: left;
	width: 469px;
	min-height:450px;
	padding: 0px 0px 0px 0px;
	height: 100%;
	background: url(../images/header_bg.jpg) bottom left no-repeat #3c8fa2;
	position:fixed;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.69);
	border-right: 1px solid rgba(66,65,65,0.54);
/* 	text-align: right; */
}

#logo a{
	position: relative;
	margin: 26px auto;
	width:312px;
	height:98px;
	clear: both;
	background: url(../images/logo.png) no-repeat;
	display: block;
}
#logo span{
	display: none;
}

#menu{
/* 	background: green; */

	width: 500px;
	height: 400px;
	
		
	position: relative;
	margin: 0px 0px 0px 0px;
	
}

nav{
	/* float: right; */
/* 	clear: both; */
	width: 390px;
	font-size: 18px;
	color: white;
	font-variant: small-caps;
/* 	background: red; */
	overflow: hidden;
	float: left;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	
}

nav a {
	color:white !important;
}


dt{
/* 	background: black; */
	text-align: right;
	width: 100%;
	margin: 0px;
	padding: 0;

}
dd{
	clear:right;
/* 	background: gray; */
	text-align: right;
	display: inline-block;
	width: 100%;
	margin-left:400px;
	font-weight: 200;
	font-size: 15px;
	white-space: nowrap;
	opacity: 0;
}
.open{
	margin-left:0px;
	opacity:1;
}



#fleche{
	width:48px;
	height: 56px;
	display: inline-block;
	background: url(../images/fleche.png) no-repeat;
	position: relative;
	margin: -60px 0px;
	float: right;
	
}

/**/

section{
	background: url(../images/section_bg.png);
	width:470px; 
/* 	height:2700px;  */
	float:right;
	clear: right;
	display: block;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.69);
	
}

article{
	margin: 100px auto;
	width: 300px; /* 340 */
	height: 100%;
	min-height: 800px;
	font-size: 12px;
	border-bottom: 1px dashed rgba(0,0,0,0.25);
/* 	background: grey; */
/* 	border: 1px solid black; */	
}

article ul{
	padding: 0px;
	margin: 0px;	
}

article li{
	background: #b9b9b9;
	padding:5px 10px 5px 10px;
	margin-bottom: 5px;
	list-style: none;
	width: 280px;
	float: left;
/* 	text-align: justify; */
	display: inline-block;
	border-radius: 3px;
	color:white;
}

article p {
		text-align: justify;
}

.left-input{
	float:left;
}

.right-input{
	float:right;
}

.short-input{
	width: 142px !important;
}

.long-input{
	width: 300px !important;
}

input[type="text"], input[type="email"], input[type="tel"]  {
	width: 142px;
	height: 22px;
	border-radius: 2px;
	border: 1px solid #d5d5d5;
	background: #fafafa;	
	margin: 0px 0px 15px 0px;
}

input:focus, textarea:focus {  
    -webkit-box-shadow: 0px 0px 5px #dc8c01;  
    -moz-box-shadow: 0px 0px 5px #dc8c01;  
    box-shadow: 0px 0px 5px #dc8c01;  
} 

textarea{
	border-radius: 2px;
	border: 1px solid #d5d5d5;
	width: 300px;
	height: 100px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	background: #fafafa;
}

[type="text"]:valid, [type="email"]:valid, [type="tel"]:valid, textarea:valid,{
	-webkit-box-shadow: 0px 0px 5px #49ff49;  
    -moz-box-shadow: 0px 0px 5px #49ff49; 
	 box-shadow: 0px 0px 5px #4aff4a;  
}
.input-err{
	-webkit-box-shadow: 0px 0px 5px red !important;  
    -moz-box-shadow: 0px 0px 5px red !important; 
	box-shadow: 0px 0px 5px red !important;  
}


#retour{
	float:right; 
	height:20px; 
	line-height:20px;
	display: inline-block;
}

.error, .valid{
	border-radius: 4px;
	padding: 0px 5px 0px 5px;
}
.error{
	border: 1px solid red;

	background: #ffdcdc;
	color:red;
}

.valid{
	border: 1px solid green;
	background: #dcffdc;
	color:green;
}

/*
[type="text"]:invalid{
	    -webkit-box-shadow: 0px 0px 5px red;  
    -moz-box-shadow: 0px 0px 5px red; 
	 box-shadow: 0px 0px 5px red;  
}
*/

/*
:required{
	 -webkit-box-shadow: 0px 0px 5px #dc8c01;  
    -moz-box-shadow: 0px 0px 5px #dc8c01;  
    box-shadow: 0px 0px 5px #dc8c01;  
}
[required]{
	    -webkit-box-shadow: 0px 0px 5px #dc8c01;  
    -moz-box-shadow: 0px 0px 5px #dc8c01;  
    box-shadow: 0px 0px 5px #dc8c01;  
}
*/

.button {
   border: 1px solid #aeaeae;
   background: #e6e3e6;
   background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#e6e3e6));
   background: -webkit-linear-gradient(top, #cccccc, #e6e3e6);
   background: -moz-linear-gradient(top, #cccccc, #e6e3e6);
   background: -ms-linear-gradient(top, #cccccc, #e6e3e6);
   background: -o-linear-gradient(top, #cccccc, #e6e3e6);
   background-image: -ms-linear-gradient(top, #cccccc 0%, #e6e3e6 100%);
   padding: 7.5px 15px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #ffffff 0 1px 0;
   color: #454343;
   font-size: 13px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
	width: 100px;
	height: 20px;
	padding: 0px 10px 0px 10px;
	display: block;
/* 	line-height: 20px; */
   }
.button:hover {
   border: 1px solid #1a7389;
   text-shadow: #424242 0 1px 0;
   background: #165568;
   background: -webkit-gradient(linear, left top, left bottom, from(#34879c), to(#165568));
   background: -webkit-linear-gradient(top, #34879c, #165568);
   background: -moz-linear-gradient(top, #34879c, #165568);
   background: -ms-linear-gradient(top, #34879c, #165568);
   background: -o-linear-gradient(top, #34879c, #165568);
   background-image: -ms-linear-gradient(top, #34879c 0%, #165568 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #1a7389;
   background: #34879c;
   background: -webkit-gradient(linear, left top, left bottom, from(#165568), to(#165568));
   background: -webkit-linear-gradient(top, #165568, #34879c);
   background: -moz-linear-gradient(top, #165568, #34879c);
   background: -ms-linear-gradient(top, #165568, #34879c);
   background: -o-linear-gradient(top, #165568, #34879c);
   background-image: -ms-linear-gradient(top, #165568 0%, #34879c 100%);
   color: #fff;
   }



/**/
footer{
	/* background: #63400b; */
	width: 100%;
	position : fixed;

	bottom: -440px;
/* 	bottom: 0px; */

	left: 0;
	right: 0;

	height: 450px;
	color: white;

	font-size: 12px;
	line-height: 38px;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.69);
	/**/
	background: -moz-linear-gradient(top,  rgba(35,21,0,0.97) 0%, rgba(67,41,2,0.97) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,21,0,0.97)), color-stop(100%,rgba(67,41,2,0.97)));
	background: -webkit-linear-gradient(top,  rgba(35,21,0,0.97) 0%,rgba(67,41,2,0.97) 100%);
	background: -o-linear-gradient(top,  rgba(35,21,0,0.97) 0%,rgba(67,41,2,0.97) 100%);
	background: -ms-linear-gradient(top,  rgba(35,21,0,0.97) 0%,rgba(67,41,2,0.97) 100%);
	background: linear-gradient(to bottom,  rgba(35,21,0,0.97) 0%,rgba(67,41,2,0.97) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7231500', endColorstr='#f7432902',GradientType=0 );
/* 	font-weight: 400; */
}

.extendFooter{
	bottom:0px !important;
}

footer h3{
	color: white;
}



#right{
	margin-top: 10px;
	width: 470px;
	clear: right;
    float: left;
    min-height: 450px;
    
/*     background: rgba(255,0,0,0.36); */
}

footer p {
	line-height: 14px;
	font-size: 12px;
}

#left{
	margin-top: 10px;
	width: 470px;
	clear: left;
    float: left;
    min-height: 450px;
/*     background: rgba(0,255,52,0.22) */
	
}

#right .content, #left .content{
	width:300px;
	margin: 0px auto;
	text-align: left;
}
/*


#map{
	position: relative;
	margin: 0px auto;
	text-align: center;
}
*/



#contact {
	position:relative; 
	margin:-50px auto;
	width: 100px;
	height: 100px;
	line-height: 100px;
	background: url(../images/bt-contact.png) 0px -100px no-repeat; 
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	font-variant: small-caps;
	cursor: pointer;
	display: block !important;
}


#contact:hover{
	background: url(../images/bt-contact.png) no-repeat; 
/*

-webkit-transform: rotate(-30deg);
-moz-transform: rotate(-30deg);
-o-transform: rotate(-30deg);
transform: rotate(-30deg);
*/
}


/*
    #contact:hover{
    -webkit-animation: cssAnimation 2.26s 1 linear;
    -moz-animation: cssAnimation 2.26s 1 linear;
    -o-animation: cssAnimation 2.26s 1 linear;
    background: url(../images/bt-contact.png) no-repeat; 
    }
    @-webkit-keyframes cssAnimation {
    from { -webkit-transform: rotate(20deg) scale(1) skew(0deg) translate(2px); }
    to { -webkit-transform: rotate(4deg) scale(1) skew(0deg) translate(10px); }
    }
    @-moz-keyframes cssAnimation {
    from { -moz-transform: rotate(20deg) scale(1) skew(0deg) translate(2px); }
    to { -moz-transform: rotate(4deg) scale(1) skew(0deg) translate(10px); }
    }
    @-o-keyframes cssAnimation {
    from { -o-transform: rotate(20deg) scale(1) skew(0deg) translate(2px); }
    to { -o-transform: rotate(4deg) scale(1) skew(0deg) translate(10px); }
    }
*/